<div class="mt-4">
  <select class="form-select" #years (change)="onYearSelected(years.value)">
    <option selected>Wybierz rok</option>
    <option *ngFor="let year of dataRowByYear.keys();">
      {{year}}
    </option>
    <option>
      Średnia
    </option>
  </select>
  <div *ngIf="showFace" class="mt-4 col-12 d-flex justify-content-center">
    <div class="dot" [ngClass]="{
      'q1-width': crimesConfirmedQuantileType === quantileType.FIRST,
      'q2-width': crimesConfirmedQuantileType === quantileType.SECOND,
      'q3-width': crimesConfirmedQuantileType === quantileType.THIRD,
      'q4-width': crimesConfirmedQuantileType === quantileType.FOURTH,
      'q1-background': percentParticipationOfMinorsQuantileType === quantileType.FIRST,
      'q2-background': percentParticipationOfMinorsQuantileType === quantileType.SECOND,
      'q3-background': percentParticipationOfMinorsQuantileType === quantileType.THIRD,
      'q4-background': percentParticipationOfMinorsQuantileType === quantileType.FOURTH
      }">

      <div class="eye-1">
      </div>

      <div class="eye-2">
      </div>

      <div class="mouth" [ngClass]="{
        'q1-mouth': totalSuspectsQuantileType === quantileType.FIRST,
        'q2-mouth': totalSuspectsQuantileType === quantileType.SECOND,
        'q3-mouth': totalSuspectsQuantileType === quantileType.THIRD,
        'q4-mouth': totalSuspectsQuantileType === quantileType.FOURTH
      }">
      </div>

      <div class="hat">
      </div>


      <div class="scar" [ngClass]="{
        'q1-scar': totalSuspectsPercentParticipationOfMinorsQuantileType === quantileType.FIRST,
        'q2-scar': totalSuspectsPercentParticipationOfMinorsQuantileType === quantileType.SECOND,
        'q3-scar': totalSuspectsPercentParticipationOfMinorsQuantileType === quantileType.THIRD,
        'q4-scar': totalSuspectsPercentParticipationOfMinorsQuantileType === quantileType.FOURTH
      }">
      </div>

      <div class="nose" [ngClass]="{
        'q1-nose': totalSuspectsPercentOfManQuantileType === quantileType.FIRST,
        'q2-nose': totalSuspectsPercentOfManQuantileType === quantileType.SECOND,
        'q3-nose': totalSuspectsPercentOfManQuantileType === quantileType.THIRD,
        'q4-nose': totalSuspectsPercentOfManQuantileType === quantileType.FOURTH
      }">
      </div>

    </div>
  </div>
</div>
